[Unit]
Description=Fetch credentials from AWS Secrets Manager
After=network-online.target systemd-tmpfiles-setup.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/drella-fetch-secrets
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
